<div class="container-fluid border">
    <div class="row">
        <div class="col">
            <mat-toolbar>
                <!-- <img src="/assets/img/logo.png" class="img-fluid" alt="image"> -->
                <span>XHaven</span>
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="profileRedirect()">
                    <mat-icon>person</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>favorite</mat-icon>
                </button>
            </mat-toolbar>
        </div>
    </div>
</div>
