mat-form-field {
    width: 100%;
    margin-bottom: -1.25em;
}

#add-auction-btn {
    width: 30vw;
    height: 8vh;
    margin: 5%;
}

#search-btn {
    width: 100%;
}

#search-results {
    margin-top: 10px;
}

.category-btn {
    width: 80%;
}

.auction {
    margin-top: 2%;
    margin-bottom: 2%;
}

.auction-img {
    max-width: 10%;
    max-height: 20%;
}
