<!-- <form>
    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-12">
                <app-navbar></app-navbar>
            </div>
            <div class="col-lg-12">
                <mat-card>
                    <mat-card-content>
                        <mat-label>Title</mat-label>
                        <mat-form-field>
                            <input matInput placeholder="Title" required>
                        </mat-form-field>
                        <mat-label>Description</mat-label>
                        <mat-form-field>
                            <textarea matInput placeholder="Description"></textarea>    
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-12">
                <mat-card>
                    <mat-card-content>
                        <mat-label>Attach photos</mat-label>
                        <div class="container">
                            <div class="row">
                                <div class="col" *ngFor="let number of [1,2,3,4]">
                                    <app-image-upload></app-image-upload>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-12">
                <mat-card>
                    <mat-card-content>
                        <mat-label>Contact information</mat-label>
                        <mat-form-field>
                            <input matInput placeholder="Your name" required>
                        </mat-form-field>
                        <mat-label>Phone number</mat-label>
                        <mat-form-field>
                            <input matInput placeholder="111 222 333">    
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-12">
                <button mat-raised-button>Add offer</button>
            </div>
        </div>
    </div>
</form> -->
<form>
    <div class="container">
        <div class="row">
            <app-navbar></app-navbar>
        </div>
        <div class="row mt-3">
            <mat-card>
                <mat-card-content>
                    <div class="col">
                        <mat-label>Title</mat-label>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <input matInput placeholder="Title" required>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-label>Description</mat-label>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <textarea maxLength="1024" matInput placeholder="Description"></textarea>    
                        </mat-form-field>
                    </div>
                    <!-- <mat-label>Title</mat-label>
                    <mat-form-field>
                        <input matInput placeholder="Title" required>
                    </mat-form-field>
                    <mat-label>Description</mat-label>
                    <mat-form-field>
                        <textarea matInput placeholder="Description"></textarea>    
                    </mat-form-field> -->
                </mat-card-content>
            </mat-card>
        </div>
        <div class="row mt-3">
            <mat-card>
                <mat-card-content>
                    <mat-label>Attach photos</mat-label>
                    <div class="container">
                        <div class="row">
                            <div class="col" *ngFor="let number of [1,2,3,4]">
                                <app-image-upload></app-image-upload>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="row mt-3">
            <mat-card>
                <mat-card-content>
                    <div class="col">
                        <mat-label>Price</mat-label>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <input matInput placeholder="$123.90" required>
                        </mat-form-field>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="row mt-3">
            <mat-card>
                <mat-card-content>
                    <div class="col">
                        <mat-label>Contact information</mat-label>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <input matInput placeholder="Your name" required>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-label>Phone number</mat-label>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <input matInput placeholder="111 222 333">    
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button mat-raised-button>Add offer</button>        
            </div>
        </div>
    </div>
</form>