<div class="register-page">
  <div class="container">
    <div class="row vh-100">
      <div class="col-lg-6 d-none d-lg-block align-self-center">
        <img src="/assets/img/logo.jpeg" class="img-fluid" alt="image">
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 align-self-center">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
              <mat-card-header>Register</mat-card-header>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Name" formControlName="name" name="name">
                <mat-error *ngIf="registrationForm.controls['name'].hasError('required')">
                  Please provide your first name
                </mat-error>
                <mat-error *ngIf="registrationForm.controls['name'].hasError('minLength')">
                  Please provide a valid first name
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Surname" formControlName="surname" name="surname">
                <mat-error *ngIf="registrationForm.controls['surname'].hasError('required')">
                  Please provide a surname
                </mat-error>
                <mat-error *ngIf="registrationForm.controls['surname'].hasError('minLength')">
                  Please provide a valid surname
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Email" formControlName="email" name="email">
                <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
                  Please enter an email
                </mat-error>
                <mat-error *ngIf="registrationForm.controls['email'].hasError('email')">
                  Please provide a valid email
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Phone number" formControlName="phoneNumber" name="phoneNumber">
                <mat-error *ngIf="registrationForm.controls['phoneNumber'].hasError('required')">
                  Please provide a valid phone number
                </mat-error>
                <mat-error *ngIf="registrationForm.controls['phoneNumber'].hasError('pattern')">
                  Please provide a valid phone number
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password" name="password">
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                  {{showPassword?'visibility_off':'visibility'}}
                </mat-icon>
                <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
                  Please provide a password
                </mat-error>
                <mat-error *ngIf="registrationForm.controls['password'].hasError('minLength')">
                  Please provide a valid password
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <input matInput [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm password" name="confirmPassword" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">
                  {{showConfirmPassword?'visibility_off':'visibility'}}
                </mat-icon>
                <mat-error *ngIf="registrationForm.hasError('notSame')">
                  Passwords do not match
                </mat-error>
              </mat-form-field>
              <div *ngIf="errorMessage">
                <mat-label>
                  {{ errorMessage }}
                </mat-label>
              </div>
              <button mat-raised-button color="primary" [disabled]="registrationForm.invalid">
                Register
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
