<div class="container">
    <div class="row gy-5">
        <div class="col-lg-12">
            <app-navbar></app-navbar>
        </div>
        <div class="col-lg-12">
            <mat-card>
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="Messages"> Content 1</mat-tab>
                        <mat-tab label="Your offers"> Content 2</mat-tab>
                        <mat-tab label="Followed offers"> Content 3</mat-tab>
                    </mat-tab-group>        
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

